/* header */
.header {
    background-color: transparent;
}
.logo img {
    max-width: 150px;
    height: auto;
}
@media only screen and (max-width: 767px) {
    .logo img {
      max-width: 120px;
    }
}
@media only screen and (max-width: 575px) {
    .logo img {
      max-width: 99px;
    }
    .col_logo {
        max-width: 99px;
        padding: 0px;
    }
}
.menu {
    justify-content: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main_menu {
      display: none;
    }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .main_menu {
        display: none;
    }
}

.menu .menu_item {
    position: relative;
    margin-right: 20px;
    font-size: 13px;
    line-height: 54px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}

.main_menu .menu_item:last-child {
    margin-right: 0;
}

.menu #collasible-nav-dropdown:hover {
    color: #79a206;
}

.menu .menu_item .sub_menu {
    font-size: 14px;
    font-weight: 400;
    display: block;
    line-height: 32px;
    text-transform: capitalize;
}

.menu .menu_item .sub_menu:hover {
    color: #79a206;
}

.icon {
    max-width: 30px;
    height: auto;
    color: black;
}

.search_box.form-control {
    max-width: 150px;
    height: auto;
    border: 0;
    background: inherit;
    width: 60%;
    height: 54px;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
    padding: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .search_box.form-control {
      display: none;
    }
    .btn_submit {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .search_box.form-control {
        display: none;
    }
    .btn_submit {
        display: none;
    }
}
.icon:hover {
    color: #79a206;
}
.header_account_area {
    display: flex;
    justify-content: center;
    padding: 0;
}

.offcanvas_menu {
    display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .offcanvas_menu {
        display: block;
    }
}
@media only screen and (max-width: 767px) {
    .offcanvas_menu {
        display: block;
    }
}

/* .offcanvas_menu_wrapper {
    width: 290px;
    position: fixed;
    background: #fff;
    z-index: 999;
    top: 0;
    height: 100vh;
    transition: .5s;
    left: 0;
    margin-left: -300px;
    padding: 50px 15px 30px;
    overflow-y: auto;
}
.offcanvas_menu_wrapper.active {
    margin-left: 0;
} */
/* end header */

.section_title {
    text-align: center;
    margin-bottom: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section_title {
      margin-bottom: 25px;
    }
}
@media only screen and (max-width: 767px) {
    .section_title {
      margin-bottom: 25px;
    }
}
.section_title h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 0;
    text-transform: capitalize;
    position: relative;
    font-family: "Lora", serif;
    padding-bottom: 22px;
}
.section_title h2::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background: #222222;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section_title h2 {
      font-size: 33px;
      line-height: 37px;
      padding-bottom: 17px;
    }
}
@media only screen and (max-width: 767px) {
    .section_title h2 {
      font-size: 19px;
      line-height: 20px;
      padding-bottom: 13px;
    }
}

/* welcome_lukani_store */

.welcome_lukani_store {
    margin-bottom: 90px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .welcome_lukani_store {
        margin-bottom: 72px;
    }
}
@media only screen and (max-width: 767px) {
    .welcome_lukani_store {
        margin-bottom: 57px;
    }
}

.welcome_lukani_container {
    border-bottom: 1px solid #e1e1e1;
    padding: 98px 0 100px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .welcome_lukani_container {
        padding: 78px 0 73px;
    }
}
@media only screen and (max-width: 767px) {
    .welcome_lukani_container {
        padding: 59px 0 53px;
    }
}

.welcome_lukani_thumb {
    text-align: center;
}
@media only screen and (max-width: 767px) {
    .welcome_lukani_thumb {
        margin-bottom: 32px;
    }
}

.welcome_lukani_header {
    margin-bottom: 23px;
}
@media only screen and (max-width: 767px) {
    .welcome_lukani_header {
        margin-bottom: 18px;
    }
}
.welcome_lukani_header h3 {
    color: #79a206;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.welcome_lukani_header h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    font-family: "Lora", serif;
    margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
    .welcome_lukani_header h2 {
      font-size: 27px;
      line-height: 30px;
    }
}

.welcome_lukani_desc .welcome_text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
}
.welcome_lukani_desc .welcome_text:last-child {
margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
    .welcome_lukani_desc .welcome_text {
        margin-bottom: 15px;
    }
}
  
.welcome_lukani_footer {
    margin-top: 32px;
}
@media only screen and (max-width: 767px) {
    .welcome_lukani_footer {
      margin-top: 23px;
    }
}
.welcome_lukani_footer .welcome_text {
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 16px;
}
.welcome_lukani_footer .welcome_text span {
    font-weight: 500;
}
@media only screen and (max-width: 767px) {
    .welcome_lukani_footer .welcome_text {
      margin-top: 13px;
    }
}
@media only screen and (max-width: 767px) {
    .welcome_lukani_content {
      text-align: center;
    }
}


/* end welcome_lukani_store */

/* newsletter area start */
.newsletter_area_start {
    padding: 92px 0 100px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.newsletter_area_start {
      padding: 74px 0 80px;
    }
}
@media only screen and (max-width: 767px) {
    .newsletter_area_start {
      padding: 57px 0 60px;
    }
}
.newsletter_area_start .section_title h2 span {
    color: #79a206;
}
  
.newsletter_container {
    padding-top: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .newsletter_container {
      padding-top: 8px;
    }
}
@media only screen and (max-width: 767px) {
    .newsletter_container {
      padding-top: 0;
    }
}
  
.subscribe_form .mc-form {
    position: relative;
    border-bottom: 1px solid #373737;
    width: 630px;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .subscribe_form .mc-form {
      width: 590px;
    }
}
@media only screen and (max-width: 767px) {
    .subscribe_form .mc-form {
      width: 100%;
    }
}
.subscribe_form .mc-form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #222;
}
.subscribe_form .mc-form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #222;
}
.subscribe_form .mc-form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #222;
}
.subscribe_form .mc-form input:-moz-placeholder {
    /* Firefox 18- */
    color: #222;
}
.subscribe_form .mc-form input {
    width: 100%;
    border: 0;
    background: none;
    padding: 0 108px 0 45px;
    height: 48px;
    font-size: 15px;
    color: #222;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .subscribe_form .mc-form input {
      height: 40px;
    }
}
@media only screen and (max-width: 767px) {
    .subscribe_form .mc-form input {
      height: 40px;
      font-size: 13px;
      padding: 0 74px 0 33px;
    }
}
.subscribe_form .mc-form .btn_sub {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
    background: inherit;
    color: black;
}
.subscribe_form .mc-form .btn_sub:hover {
    color: #79a206;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .subscribe_form .mc-form .btn_sub {
      line-height: 36px;
      height: 40px;
    }
}
@media only screen and (max-width: 767px) {
    .subscribe_form .mc-form .btn_sub {
      font-size: 12px;
    }
}
.subscribe_form .mc-form .email_icon {
    position: absolute;
    top: 56%;
    left: 0;
    transform: translatey(-50%);
}
.subscribe_form .mc-form .email_icon i {
    font-size: 25px;
}
@media only screen and (max-width: 767px) {
    .subscribe_form .mc-form .email_icon i {
      font-size: 20px;
    }
}
  
.mailchimp-error {
    text-align: center;
    color: green;
}
  
.mailchimp-success {
    text-align: center;
    max-width: 510px;
    color: green;
    margin: 0 auto;
}
.mailchimp-success.active {
    margin-top: 20px;
}
/* end newsletter area start */


/* footer  */

.footer_top {
    padding: 99px 0 89px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer_top {
        padding: 79px 0 31px;
    }
}
@media only screen and (max-width: 767px) {
    .footer_top {
        padding: 55px 0 4px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .widgets_container {
        margin-bottom: 42px;
    }
}
@media only screen and (max-width: 767px) {
    .widgets_container {
        margin-bottom: 43px;
    }
}
@media only screen and (max-width: 575px) {
    .widgets_container {
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    .widgets_container.widget_menu {
        margin-bottom: 48px;
    }
}
@media only screen and (max-width: 767px) {
    .widgets_container.widget_app {
        margin-bottom: 55px;
    }
}
.widgets_container h3 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 31px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}
.widgets_container h3::before {
    content: "";
    width: 35px;
    height: 2px;
    background: #222222;
    position: absolute;
    bottom: 0;
    left: 0;
}
.widgets_container .nav-link {
    padding: 0;
    color: black;
}

@media only screen and (max-width: 575px) {
    .widgets_container h3::before {
        left: 50%;
        transform: translatex(-50%);
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .widgets_container h3 {
        margin-bottom: 18px;
    }
}
@media only screen and (max-width: 767px) {
    .widgets_container h3 {
        margin-bottom: 12px;
        font-size: 14px;
        display: inline-block;
    }
}

.footer_logo {
    margin-bottom: 30px;
    text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer_logo {
        margin-bottom: 22px;
    }
}
@media only screen and (max-width: 767px) {
    .footer_logo {
        margin-bottom: 20px;
    }
}
.footer_logo .nav-link img {
    width: 150px;
}

.contact_us > p {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0;
}
.contact_us > p b {
    font-weight: 500;
}
.contact_us > p:last-child {
    margin-top: 50px;
    margin-bottom: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contact_us > p:last-child {
        margin-top: 22px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact_us > p:last-child {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .contact_us > p:last-child {
        margin-top: 0;
    }
}
@media only screen and (max-width: 767px) {
    .contact_us > p {
        font-size: 13px;
    }
}

.footer_menu .nav {
    padding-bottom: 2px;
}
.footer_menu .nav:last-child {
    padding-bottom: 0;
}
.footer_menu .nav-link {
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: black;
    padding: 0;
    width: 100%;

}
.footer_menu .nav .nav-link:hover {
    color: #79a206;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer_menu .nav {
      font-size: 14px;
      line-height: 26px;
    }
}
@media only screen and (max-width: 767px) {
    .footer_menu .nav .nav-link {
      line-height: 22px;
      font-size: 13px;
    }
}

.footer_social {
    margin-top: 23px;
    text-align: center;
}
.footer_social .nav {
    justify-content: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer_social {
        margin-top: 17px;
    }
}
@media only screen and (max-width: 767px) {
    .footer_social {
        margin-top: 15px;
    }
}
.footer_social .nav .nav-link{
    display: inline-block;
    margin-right: 8px;
}
.footer_social .nav:last-child {
    margin-right: 0;
}
@media only screen and (max-width: 767px) {
    .footer_social .nav {
        margin-right: 6px;
    }
}
.footer_social .nav .nav-link {
    width: 42px;
    height: 42px;
    line-height: 44px;
    display: block;
    text-align: center;
    font-size: 14px;
    background: #f2f2f2;
    border-radius: 50%;
}
.footer_social .nav .nav-link:hover {
    color: #ffffff;
    background: #79a206;
}
@media only screen and (max-width: 767px) {
    .footer_social .nav .nav-link {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
}

@media only screen and (max-width: 767px) {
    .copyright_area {
        text-align: center;
        margin-bottom: 17px;
    }
}
.copyright_area p {
    text-transform: capitalize;
    line-height: 25px;
    font-size: 14px;
}
@media only screen and (max-width: 767px) {
    .copyright_area p {
        letter-spacing: 0;
        font-size: 13px;
        line-height: 20px;
    }
}
.copyright_area p a {
    color: #79a206;
}
.copyright_area p a:hover {
    text-decoration: underline;
}

.footer_widgetnav_menu {
    text-align: center;
}
.footer_widgetnav_menu .nav {
    justify-content: center;
}
.footer_widgetnav_menu .nav .nav-link{
    display: inline-block;
    margin-right: 20px;
}
.footer_widgetnav_menu .nav .nav-link:last-child {
    margin-right: 0;
}
@media only screen and (max-width: 767px) {
    .footer_widgetnav_menu .nav .nav-link {
        margin-right: 14px;
    }
}
.footer_widgetnav_menu .nav .nav-link {
    font-size: 14px;
    line-height: 30px;
    padding: 0;

}
.footer_widgetnav_menu .nav .nav-link:hover {
    color: #79a206;
}

.footer_app {
    text-align: center;
    margin-top: 32px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer_app {
        margin-top: 25px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer_app {
        margin-top: 22px;
    }
}
.footer_app .nav {
    display: flex;
    margin-right: 10px;
    justify-content: center;
}

.footer_app .nav .nav-link {
    margin-right: 10px;
}
.footer_app .nav .nav-link:last-child {
    margin-right: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer_app .nav {
        margin-right: 6px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer_app .nav {
        margin-right: 6px;
    }
}
@media only screen and (max-width: 767px) {
    .footer_app .nav {
        margin-right: 4px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer_app .nav .nav-link img {
        max-width: 140px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer_app .nav .nav-link img {
        max-width: 135px;
    }
}
@media only screen and (max-width: 767px) {
    .footer_app .nav .nav-link {
        max-width: 128px;
    }
}

.footer_payment {
    text-align: right;
}
.footer_bottom {
    padding: 29px 0;
}
@media only screen and (max-width: 767px) {
    .footer_bottom {
      padding: 25px 0;
    }
}